body{
    margin: 0;
    background-color: #341A64;
}

.login_page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login_box{
    background-color: #010102;
    width: 40%;
    height: 100vh;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}

.login{
    background-color: #010102;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.login form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    background-color: #010102;
    height: 220px;
    margin-bottom: 20px;
    padding: 0%;
    margin-top: 0%;
    position: relative;
    top: -30px;
}

.logo img{
    height: 100px;
}

.logo_half{
    background-color: #010102;
    height: 95px;
    width: 100%;
    position: relative;
    top: -100px;

}


#input1cc, #input2cc, #input3cc, #input4cc, #input5cc{
    width: 300px;
    height: 45px;
    margin-bottom: 20px;
    background-color: #20202F;
    border-radius: 20px;
    padding-left: 20px; 
    color: white;
    font-size: 16px;
    font-family: poppins, sans-serif;
    position: relative;
    top: -30px;
}

.login form button {
    font-size: 16px;
    border-radius: 20px;
    width: 325px; /* Set the width as needed */
    height: 55px;
    background-color: transparent;
    border-color: #44219A;
    color: #44219A;
    font-family: Paytone One, sans-serif;
    font-weight: bold;
    position: relative;
    top: -30px;

}


.bg_image{
    background-color: #341A64;
    height: 100vh;
    width: 75%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.bg_image img {
    /* Add styling for the thumbnail image */
    max-width: 100%; /* Ensure the image doesn't exceed the container width */
    height: 90%;
    width: 900px;
}

.Signup{
    color: white;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    display: flex;
    flex-direction: row;
    position: relative;
    top: -75px;

}

.Signup a{
    font-family: Paytone, sans-serif;
    font-size: 16px;
    color: #44219A;
    font-weight: bold;
}


#centered-notification {
    display: none;
}

.centered-notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1f1f1f;
    border: 1px solid #504d52;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000; /* Ensure it appears above other elements */
    text-align: center;
    width: 300px; /* Adjust the width as needed */
    border-radius: 8px; /* Add rounded corners */
}

.notification-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.notification-content button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #8CE9B3;
    color: #1f1f1f;
    cursor: pointer;
    border-radius: 21px;
    font-family: Poppins, sans-serif;
}

.notification-content button:hover {
    background-color: #8CE9B3;
}

footer {
    background-color: #20202F; 
    text-align: center;
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    height: 50px; 
}
